.printPage {
  height: 11.69in;
  width: 8.27in;
  border: 1px solid #fff;
}

.printInnerPage {
  margin-top: 0.51in;
  margin-bottom: 0.43in;
  margin-left: 0.18in;
}

.priceLabel {
  height: 1.33in;
  min-width: 3.9in;
  max-width: 3.9in;
  margin-left: 5px;
}